<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thank You!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <br>
      <div class="jumbotron">
    <h1>Video Created!</h1>
    <p>Get video at: <a href="{{ output }}">{{ output }}</a></p>
    <video width="640" height="480" controls>
      <source src="{{ output }}" type="video/mp4">
    </video>
    <br>
    <a href="{% url 'logout' %}"><button class="btn btn-primary" value="logout">Logout</button></a>
    <a href="/create/"><button class="btn btn-primary" value="create">Create another one.</button></a>
  </div></div>
  </body>
</html>
