<!DOCTYPE html>
{% extends "api_request/base.html" %}
{% block body %}
<script>
function validateForm() {
  var x = document.getElementById('id_currency').value;
  if (x == "other") {
      document.getElementById('curr_other').style.display = "inline";
      document.getElementById('curr_label').style.display = "inline";
  }
  return True;
}
</script>
    <div class="container">
      <br>
      <div class="jumbotron">
    {% if user.is_authenticated %}
    <h1>Create Video for shopify store</h1>
        <form method="post" name="create" action="{% url 'after' %}">

          <table>
        {{form.as_table}}
        {%csrf_token%}


        <tr><td><label for="curr_other" style="display: none; font-weight: bold;" id="curr_label">Other: </label></td><td><input type="text" id="curr_other" name="curr_other" style="display: none;"></td>
      </table>
      <br><br>
      <button type="submit" class="btn btn-primary" value="submit">Submit</button>
     </form>
     <br>
    {% else %}
    <h1>You are not logged in</h1>
    {% endif %}
  </div>
  </div>
{% endblock %}
  </body>
</html>
